__pycache__/
settings_local.py
VENV
build/
dist/
deb_dist/
*.egg-info/
.eggs/
/packages/Kolejka*/setup.cfg
/kolejka-foreman-system/kolejka-foreman.initrd
/kolejka-foreman-system/kolejka-foreman.squashfs
/kolejka-foreman-system/kolejka-foreman.vmlinuz
*.zip
*.tar.gz
*.tar.xz
[0-9][0-9][0-9][0-9]_*.py
/examples/*-result/
